<ion-header translucent="true">
  <ion-toolbar>
      <!-- <ion-row>
        <ion-col size="10">
          <p><ion-text>Delivering to</ion-text> </p>
          <p><ion-text>{{deviceLocation}}</ion-text></p>
        </ion-col>
        <ion-col size="2">
          <ion-buttons>
            <ion-button>
                <span>
                  <ion-icon slot="icon-only" name="cart"></ion-icon>
                </span>
              </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row> -->
      <ion-buttons slot="start">
        <ion-button>
          <span>
            <ion-icon slot="icon-only" name="pin" class="pinIcon"></ion-icon>
          </span>
        </ion-button>
        <ion-button class="addressBtn">
          <ion-text class="addressText">{{deviceLocation}}</ion-text>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <span>
            <ion-icon slot="icon-only" name="cart"></ion-icon>
          </span>
        </ion-button>
        
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <div>
    <ion-row>
      <ion-col size="9">
        <ion-searchbar [(ngModel)]="restaurantName" (ionCancel)="showSearchbar = false"
          placeholder="Search Restaurant">
        </ion-searchbar>
      </ion-col>
      <ion-col size="3">
        <ion-buttons>
          <ion-button (click)="updateLanding()" class="searchBtn">
            <ion-text class="searchText"> Search</ion-text>
          </ion-button>
          <!-- <ion-button>
              <span>
                <ion-icon slot="icon-only" name="cart"></ion-icon>
              </span>
            </ion-button> -->
        </ion-buttons>

      </ion-col>
    </ion-row>
  </div>

  <ion-toolbar *ngIf="!ios">
    <div class="categoryClass">
      <ion-segment scrollable [(ngModel)]="segment">
        <!-- <ion-text> {{latitude ? latitude : ""}} </ion-text>
        <ion-text> {{longitude ? longitude : ""}} </ion-text> -->
        <ion-segment-button *ngFor="let item of foodTypeList" value={{item.id}} routerLink="/app/tabs/restaurants/restaurant-list/{{item.id}}">
          <app-food-category-card [categoryData]="item"></app-food-category-card>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div *ngFor="let item of restaurantList" routerLink="/app/tabs/restaurants/hotel-details/{{item.id}}">
      <app-restaurant-card [restaurantItem]="item" [isOffer]="isOffer"></app-restaurant-card>
    </div>

  </ion-toolbar>
</ion-content>