<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="queryText" (ionCancel)="showSearchbar = false" placeholder="Search for your location">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="updateLanding()">
        <ion-text> Search</ion-text>
      </ion-button>
      <ion-button>
        <span>
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-toolbar *ngIf="!ios">
    <div class="categoryClass">
      <ion-segment scrollable [(ngModel)]="segment" (ionChange)="updateLanding()">
        <ion-segment-button *ngFor="let item of foodTypeList" value={{item.id}}>
          <app-food-category-card [categoryData]="item"></app-food-category-card>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div *ngFor="let item of restaurantList" routerLink="/app/tabs/restaurants/hotel-details/{{item.$key}}">
      <app-restaurant-card [restaurantItem]="item"></app-restaurant-card>
    </div>

  </ion-toolbar>
</ion-content>