ion-title {
    text-align: center;
    margin-right: 40px;
}


.addBtn{
    width: 50px;
    height: 40px;
  //  margin-top: -10px;
  }

  .addTxt{
    font-size: 10px;
    text-transform: capitalize;
    color: #CB202D;
  }

  .plusSign {
    color: #CB202D;
  }

  .ion-colPrice{
    text-align: center;
    }

    .ion-colName{
        margin-left: 20px;
        cursor: pointer;
    }

    .totalRow {
      padding: 2px;
      margin-top: 5px;
  }

  .mainDiv{
    padding: 20px;
    margin-top: 10px;
  }

  .divRow {
    margin-top: 20px;
  }

  .rowClass {
    margin-top: 10px;
  }

  .headerText {
    font-size: 18px;
    color: #CB202D;
  }

  .diabledBtn {
    pointer-events: none;
    opacity: 0.4;
  } 
  
  