<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHrefLink"></ion-back-button>
    </ion-buttons>
    <ion-title>Check Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mainDiv">

  
  <div>
    <ion-row>
      <ion-text class="headerText">Delivery Address</ion-text>
    </ion-row>
    <ion-row class="noteRow">
      <ion-col size="8">
        <ion-item>
          <!-- <ion-label  position="floating" class="noteText">Add Instructions +</ion-label> -->
          <ion-input [value]="addressNote" #input disabled></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <!-- <ion-button color="light" class="addBtn" (click)="input.setFocus()">
          <ion-text class="addTxt"> Change </ion-text>
        </ion-button> -->
      </ion-col>
    </ion-row>
  </div>

  <div class="divRow">
    <ion-row>
      <ion-text class="headerText">Payment Method</ion-text>
    </ion-row>
    <ion-row class="rowClass">
          <ion-select value="cod" (ionChange)="checkPayValue($event)" >
            <ion-select-option value="cod">Cash On Delivery</ion-select-option>
            <ion-select-option value="stripe">Card Payment</ion-select-option>
          </ion-select>
    </ion-row>
    <!-- <ion-row class="rowClass">
      <ion-col >
        <ion-button expand="full" color="success" (click)="sendWhatsappMsg()">send whatsApp</ion-button>
        
      </ion-col>
    </ion-row> -->
  </div>

  <div class="divRow">
    <ion-row>
      <ion-col class="divRow" size="5">
        <ion-text class="headerText">
          Apply Coupon
        </ion-text>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <!-- <ion-item>
            <ion-input [value]="couponNote"></ion-input>
          </ion-item> -->
          <ion-item >
            <ion-select placeholder="Select One" okText="Okay" cancelText="Dismiss" (ionChange)="checkValue($event)" >
              <ion-select-option *ngFor="let coupon of couponList" >{{coupon.Name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      
   
  </div>

  <div class="divRow">
    <ion-row>
      <ion-col >
        <ion-text class="headerText">
          Summary
        </ion-text>
      </ion-col>
      </ion-row>
    </div>

  <div class="totalRow">
    <ion-row>
      <ion-col class="ion-colName">
        <ion-text>Subtotal</ion-text>
      </ion-col>
      <ion-col class="ion-colPrice">
        <ion-text>$&nbsp;{{order?.subtotal}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-colName">
        <ion-text>Delivery Cost</ion-text>
      </ion-col>
      <ion-col class="ion-colPrice">
        <ion-text>{{order?.deliveryCost}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-colName">
        <ion-text>Discount</ion-text>
      </ion-col>
      <ion-col class="ion-colPrice">
        <ion-text>$&nbsp;{{order?.discount}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-colName">
        <ion-text>Total</ion-text>
      </ion-col>
      <ion-col class="ion-colPrice">
        <ion-text>$&nbsp;{{order?.total}}</ion-text>
      </ion-col>
    </ion-row>
  </div>

</div>

</ion-content>

<div class="cartBtn" (click)="checkOut()">
  <ion-text class="cartTxt"> Send Order </ion-text>
</div>