

ion-icon {
    color: #CB202D;
    font-size: 60px;
}

ion-col{
    text-align: center;
}

.thankNote{
    font-size: 20px;
    color: #d87c7c
}

.trackNote{
    font-size: 14px;
    color: #797171
}

.maindiv{
    margin-top : 50px;
}