.gridClass{
    margin-left: -15px !important;
}

.categoryIcon{
    padding: 20px;
    background-color: #fbe9ed;
    border-radius: 15px;
}

.categoryText {
    font-size: 14px;
    font-family: monospace;
}

.categoryTextRow{
 margin-top : 5px;
 text-align: center;
}

