
.titleClass{
    color: #CB202D;
    font-size: 14px;
    font-weight : bold
}

.headerClass{
    color: #595959;
    font-size: 14px;
    font-weight: bold
}

.valueClass{
    color: #595959;
    font-size: 14px;
  //  font-weight: bold
}