.gridClass{
    padding: 10px;
}

.imgClass {
    height: 180px;
    width: 100%;
    border: 0;
    border-radius: 10px;
  //  position: relative;
  }

.rowClass {
    border: 1px solid rgba(119, 119, 119, 0.6);
    border-radius: 10px;
    padding: 0px;
}

.colClass{
    padding : 0px
}

.nameRow{
    padding : 5px
}

.nameText{
    font-size:16px;
    font-weight:bold;
    font-family: sans-serif;
}

.rating{
    color: #CB202D;
    font-size : 18px
  }

  .badgeClass{
    margin-left : 4px
  }

  .cuisineClass {
    margin-top: 1px;
    background-color: #f5dae0;
}

  .ratingText {
    font-size: 18px;
    color: darkred;
    font-family: sans-serif;
  }
  .votingText{
    font-size: 14px;
    font-family: sans-serif;
  }

