<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHrefLink"></ion-back-button>
    </ion-buttons>
    <ion-title >My Cart</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf = "!order?.CartItems.length"> 
    <ion-row class="imgRow">
      <ion-col>
        <img class="imgRow" src="{{../../../../../assets/img/emptyCart3.png">
      </ion-col>
      </ion-row >
      <ion-row class="emptyCart"> 
        <ion-col class="emptyCartCol">
         <ion-text>Empty Cart</ion-text>
        </ion-col>
        </ion-row>
        <ion-row class="emptyCart">
          <ion-col >
            <div class="cartBtn" routerLink="/app/tabs/restaurants/hotel-details" (click)="checkOut()">
              <ion-text class="cartTxt"> Add Menu </ion-text>
            </div>
          </ion-col>
          </ion-row>
  </div>
  <div *ngIf = "order?.CartItems.length">
  <div class="RestaurantInfo" >
    <app-category-cart [restaurantDetails]="hotel"></app-category-cart>
  </div>
  <div>
    <ion-card *ngFor="let item of order?.CartItems">
      <ion-list>
        <ion-row>
          <ion-col class="ion-colName">
            <ion-text>{{item.Name}} &nbsp;<ion-icon name="close"></ion-icon>&nbsp;{{item.Count}}</ion-text>
          </ion-col>
          <ion-col class="ion-colPrice">
            <ion-text>$&nbsp;{{item.Price}}</ion-text>
          </ion-col>
        </ion-row>
  
      </ion-list>
    </ion-card>
  </div>
  
  <div>
    <ion-row>
      <ion-col class="foodLinkCol" routerLink="/app/tabs/restaurants/hotel-details">
        <ion-text class="foodLinkText">Add More Food</ion-text>
      </ion-col>
    </ion-row>
  </div>

  <div class="totalRow">
    <ion-row>
      <ion-col class="ion-colName">
        <ion-text>Subtotal</ion-text>
      </ion-col>
      <ion-col class="ion-colPrice">
        <ion-text>$&nbsp;{{order?.subtotal}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-colName">
        <ion-text>Delivery Cost</ion-text>
      </ion-col>
      <ion-col class="ion-colPrice">
        <ion-text>{{order?.deliveryCost}}</ion-text>
      </ion-col>
    </ion-row>
  </div>
  <div>
      <ion-row class="noteRow"> 
        <ion-col class="noteItem" size="6">
        <ion-item >
          <ion-label  position="floating" class="noteText">Add Instructions +</ion-label>
          <ion-input [(ngModel)]="deliverNote" [value]="deliverNote"></ion-input>
        </ion-item>
      </ion-col>
      </ion-row>
  </div>
</div>
</ion-content>

<div *ngIf = "order?.CartItems.length" class="cartBtn" (click)="checkOut()">
  <ion-text class="cartTxt"> Check Out </ion-text>
</div>

