ion-title {
    margin-left: 50px;
}


   .ion-colPrice{
    text-align: center;
    }

    .ion-colName{
        margin-left: 20px;
    }
    
    ion-list{
    background-color: #e9e0e5;
    padding: 2px;
    }
    
    ion-card {
    border-radius: 2px;
    }
    
    ion-text {
        font-size: 16px;
        color: #716363;
        font-weight: bold;
       }

    .foodLinkCol{
        text-align : end
    }

    .foodLinkText{
        color :  #CB202D;
        font-size : 12px ;
        text-decoration : underline;
    }
