ion-title {
    text-align: center;
    margin-right: 40px;
}


   .ion-colPrice{
    text-align: center;
    }

    .ion-colName{
        margin-left: 20px;
        cursor: pointer;
    }
    
    ion-list{
    background-color: #fdfeff;
    padding: 2px;
    }
    
    ion-card {
    border-radius: 2px;
    }
    
    ion-text {
        font-size: 16px;
        color: #716363;
        font-weight: bold;
       }

    .foodLinkCol{
        text-align : end
    }

    .foodLinkText{
        color :  #CB202D;
        font-size : 12px ;
        text-decoration : underline;
    }

    .noteText{
        color :  #CB202D;
        font-size : 14px ;
        cursor: pointer !important;

    }
    .noteRow{
        margin-top : 6px;
        cursor: pointer !important;
    }

    .totalRow {
        padding: 2px;
        margin-top: 5px;
    }

    .RestaurantInfo{
        overflow: hidden;
    }
    
