
ion-title {
  text-align: center;
  margin-right: 40px;
}

.map-canvas {
  position: absolute;

  height: 100%;
  width: 100%;

  background-color: transparent;

  opacity: 0;
  transition: opacity 150ms ease-in;
}

.show-map {
  opacity: 1;
}

.mainDiv{
  padding: 25px
}

ion-col{
 text-align:center
}

.riderDiv{
  overflow: hidden;
    padding-left: 0px;
    border-top: 1px solid #decccc;
    border-bottom: 1px solid #decccc;
}

.delText{
  color: #CB202D;
    font-size: 18px;
}
