<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons> -->
    <ion-title>Track Your Order</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="mainDiv" *ngIf="isData">

    <div *ngIf="isLoaded" >
      <ion-row>
        <ion-col size="12">
          <ion-row>
            <ion-col>
              <ion-text class="delText">Delivery time</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>{{rider?.pickUpTime}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src={{statusImg}}>

        </ion-col>
      </ion-row>

    </div>

    <div class="riderDiv">
      <app-category-cart [restaurantDetails]="rider" [showRider]="true"></app-category-cart>
    </div>
  </div>

  <ion-row class="noDataRow" *ngIf="!isData" >
    <ion-col class="noDataCol">
   <ion-text class="noDataText"> ....No Data Found  </ion-text>
  </ion-col>
  </ion-row>

  <div #mapCanvas class="map-canvas" [hidden]="!isData"></div>


</ion-content>