.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.ionlabelClass {
  color: #CB202D;
  font-size : 20px;
}

ion-item{
  padding: 10px;
}

.signUp{
   // background-color: #CB202D !important;
    color: #CB202D !important;
}
