/*
 * Restaurant Details
 */

  .imgCol{
    width:100%;
    height: 80px;
  }
  
  .heading {
    font-size: 15px;
    font-weight: 700;
    color: grey;
  }
  .descriptionText{
    font-size : 14px;
  }
  
  .priceClass{
    text-align : center;
    margin-top : 20px
  }
  
  .priceText{
    color :#CB202D;
  }
  
  .hotelImg{
    border-radius : 10px !important;
  }

  .addBtn{
    width: 40px;
    height: 20px;
    margin-top: -10px;
  }

  .addTxt{
    font-size: 10px;
   // text-transform: capitalize;
  }

  .plusSign {
    color : red
  }

  .count {
    margin: 0px;
    border-radius: 5px;
    border: solid rgba(0,0,0,.25) 1px;
    width: 60px;
    height: 25px;
    cursor : pointer
  }

  .item-count {
    //  font-size: 8px;
      bottom: 5px;
      background-color:white;
    }
    .show-count {
      height: 23px;
      background-color: #f3c9d0 !important;
    }
    .itemText{
      font-weight: bold;
      color: #CB202D;
    }

    .minusCol{
      bottom: 5px;
    }