<div class="card">
  <div class="header">
    <div class="avatar">
      <img src="../../../assets/img/userImage2..jpg" alt="">
      <h3 class="name">Snehal Kale</h3>
      <h5 class="email">snehal.kale@gmail.com</h5>
    </div>
  </div>
</div>

<ion-content>
  <div>
<ion-list *ngFor="let item of itemList">
      <ion-row > 
      <ion-col size="10" class="rowClass">
       <ion-label class="labelClass">{{item}}</ion-label>
     </ion-col>
     <ion-col size="2">
      <ion-icon name="arrow-dropright"></ion-icon>
     </ion-col>
    </ion-row>
    </ion-list>
  </div>
  </ion-content>


