<ion-content class="restaurant-detail">
  <div class="restaurant-background">
    <ion-row>
      <h2>Latest Offers</h2>
      <h6>Find Offers, Special meals and More !</h6>
    </ion-row>
    <img src="../../../../../assets/img/foodDelivery223.jpg" />
  </div>
  <div *ngFor="let item of restaurantList" routerLink="/app/tabs/restaurants/hotel-details">
    <app-restaurant-card [restaurantItem]="item" [isOffer]="isOffer"></app-restaurant-card>
  </div>
  <ion-row class="noDataRow" *ngIf="!isData">
    <ion-col class="noDataCol">
   <ion-text class="noDataText"> ....No Data Found  </ion-text>
  </ion-col>
  </ion-row>
</ion-content>